# Игнорировать файл с токеном
.env

# Игнорировать базу данных
*.db

# Игнорировать кэш Python
__pycache__/
*.py[cod]
*$py.class

# Игнорировать виртуальные окружения
venv/
env/
ENV/

# Игнорировать системные файлы
.DS_Store
Thumbs.db